{% extends 'Base.html' %}

{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center mt-4">
        <h4>Login</h4>
    </div>
    <hr>
    <div class="row justify-content-center">
        <form method="post" action="{% url 'login' %}" class="form-group form-block">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" id="msg">
                {{ error }}
            </div>
            {% endif %}
            {% if request.GET.next %}
               <input type="hidden" value="{{ request.GET.next }}" name="txtnextpage">
            {% endif %}
            <div>
                <label>Enter User Name: </label>
                <input type="text" name="txtusername" class="form-control">
            </div>
            <div>
                <label>Enter Password: </label>
                <input type="text" name="txtpassword" class="form-control">
            </div>
            <div class="mt-4">
                <input type="submit" name="btnsubmit" class="btn btn-block btn-outline-dark" value="Login">
            </div>
            <a href="{% url 'registration' %}">Not a User..? Register Here</a>
        </form>
    </div>
</div>
{% endblock %}